AUTH_SERVICE_BASE_URL=http://localhost:3001/api/v1
CONTRACT_SERVICE_BASE_URL=http://localhost:3003
EMPLOYEE_SERVICE_BASE_URL=http://localhost:3002
VACATION_SERVICE_BASE_URL=http://localhost:3004/api
REPORT_SERVICE_BASE_URL=http://localhost:3005/api
HISTORY_SERVICE_BASE_URL=http://localhost:3006
SUPERADMIN_SERVICE_BASE_URL=http://localhost:3007
MAILPIT_BASE_URL=http://localhost:8025
SUPERADMIN_REGISTER_SECRET=clave_secreta_para_crear_primer_superadmin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=789**
HR_EMAIL=hr@example.com
HR_PASSWORD=HR789**
CONSULTATION_EMAIL=consultation@example.com
CONSULTATION_PASSWORD=consultation@example.com
